table {
  border-collapse: collapse;
  margin: 0 auto;
  cursor: pointer;
}

table td {
  width: 130px;
  height: 130px;
  border: 2px solid #000;
  text-align: center;
  vertical-align: middle;
  font-size: 90px;
}

table.pieces td {
  width: 50px;
  height: 50px;
  border: 2px solid #000;
  text-align: center;
  vertical-align: middle;
  font-size: 30px;
}

tr.top td {
  border-top: none;
}

tr.bottom td {
  border-bottom: none;
}

table td.left {
  border-left: none;
}

table td.right {
  border-right: none;
}

.msg {
  margin-top: 200px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

#stats {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 30px;
}

.block {
  display: inline-block;
  text-align: center;
  margin: 0 30px;
}

.name {
  font-size: 26px;
  padding: 0 26px;
  position: relative;
}

.score {
  font-size: 30px;
  font-weight: bold;
}

.turn {
  position: absolute;
  top: 0;
}

#x_turn {
  left: -10px;
}

#o_turn {
  right: -10px;
}

.form {
  text-align: center;
  width: 300px;
  margin: 200px auto;
}

.header {
  font-size: 16px;
}
