table {
  border-collapse: collapse;
  margin: 0 auto;
  cursor: pointer;
}

table td {
  width: 8em;
  height: 8em;
  border: 0.2em solid #000;
  text-align: center;
  vertical-align: middle;
}

@media (orientation: landscape) {
  table.pieces td {
    width: 4.5em;
    height: 3em;
    border: 0.2em solid #000;
    text-align: center;
    vertical-align: middle;
  }
}

@media (orientation: portrait) {
  table.pieces td {
    width: 5em;
    height: 3em;
    border: 0.2em solid #000;
    text-align: center;
    vertical-align: middle;
  }
}

tr.top td {
  border-top: none;
}

tr.bottom td {
  border-bottom: none;
}

table td.left {
  border-left: none;
}

table td.right {
  border-right: none;
}

table td.no_border {
  border:none;
}

svg {
  margin-top: 0.5em;
}

#game {
  margin-top: 2em;
}

#x {
  color: #3da6e3;
}

#o {
  color: #f1ac53;
}

.msg {
  margin-top: 6.5em;
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
}

@media (orientation: landscape) {
  #stats {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1.872em;
  }
  #ties {
    text-align: center;
  }
}

@media (orientation: portrait) {
  #stats {
    text-align: center;
    margin-top: 1.0em;
    margin-bottom: 1.872em;
  }
  #ties {
    margin-top: 1.1em;
    text-align: center;
  }
}

.block {
  display: inline-block;
  text-align: center;
}

.name {
  font-size: 2em;
  margin-bottom: 0.2em;
  padding: 0 2em;
  position: relative;
}

.score {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.2em;
}

.turn {
  position: absolute;
  top: 0;
}

#x_turn {
  margin-top: 0.8em;
  left: 2em;
}

#o_turn {
  margin-top: 0.8em;
  right: 2em;
}

@media (orientation: landscape) {
  h3 {
    margin-top: -0.5em;
  }
  #button {
    margin-top: 0em;
  }
  #empty {
    min-height: 3em;
    max-height: 3em;
    margin-top: 3em;
    margin-bottom: 0em;
  }
}

@media (orientation: portrait) {
  h3 {
    margin-top: 0.5em;
  }
  #button {
    margin-top: 4em;
    margin-bottom: 1.5em;
  }
  #empty {
    min-height: 3em;
    max-height: 3em;
    margin-bottom: 1em;
  }
}

.form {
  text-align: center;
  width: 18.72em;
  margin: 16.5em auto;
}

@media (orientation: landscape) {
  .header {
    font-size: 1.25em;
  }
  .back {
    margin-top: 0.5em;
    float: left;
    margin-left: 3em;
    display: inline-block;
  }
}

@media (orientation: portrait) {
  .header {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
  .back {
    margin-top: 0.3em;
    float: left;
    margin-left: 0.6em;
    display: inline-block;
  }
}

.github {
  width: 2em;
  height: 2em;
  display: inline-block;
  margin-bottom: -0.7em;
  background-image: url("/images/Octocat.png");
  background-size: 2em 2em;
}

.small {
  width: 4em;
  height: 4em;
}

.large {
  width: 7em;
  height: 7em;
}