table {
  border-collapse: collapse;
  margin: 0 auto;
  cursor: pointer;
}

table td {
  width: 8em;
  height: 8em;
  border: 0.2em solid #000;
  text-align: center;
  vertical-align: middle;
}

table.pieces td {
  width: 3em;
  height: 3em;
  border: 0.2em solid #000;
  text-align: center;
  vertical-align: middle;
}

tr.top td {
  border-top: none;
}

tr.bottom td {
  border-bottom: none;
}

table td.left {
  border-left: none;
}

table td.right {
  border-right: none;
}

table td.no_border {
  border:none;
}

svg {
  margin-top: 0.5em;
}

#x {
  color: blue;
}

#o {
  color: orange;
}

.msg {
  margin-top: 6.5em;
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
}

#stats {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1.872em;
}

#ties {
  text-align: center;
}

.block {
  display: inline-block;
  text-align: center;
}

.name {
  font-size: 1.625em;
  padding: 0 1.625em;
  position: relative;
}

.score {
  font-size: 1.872em;
  font-weight: bold;
}

.turn {
  position: absolute;
  top: 0;
}

#x_turn {
  left: -0.625em;
}

#o_turn {
  right: -0.625em;
}

#empty {
  min-height: 3em;
  max-height: 3em;
}

.form {
  text-align: center;
  width: 18.72em;
  margin: 16.5em auto;
}

.header {
  font-size: 1em;
}
