<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Gobblet Gobblers!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="manifest" href="<%= static_path(@conn, "/manifest.json") %>">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Gobblet Gobblers">
    <link rel="apple-touch-icon" href="<%= static_path(@conn, "/images/icons/icon-152x152.png") %>">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <div class="text-right">
          <%= if @name do %>
            <%= link "back", to: game_path(@conn, :new), class: "back" %>
          <% end %>
          <%= if @conn.assigns.current_player do %>
            <%= @conn.assigns.current_player %> (<%= link "logout", to: player_path(@conn, :delete, @conn.assigns.current_player), method: :delete %>)
          <% end %>
          <a class="github" href="https://github.com/cjen07/gobblet-gobblers"></a>
        </div>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script>window.currentPlayer = "<%= @conn.assigns.current_player %>"</script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
